.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.Input {
  display: inlin;
}

.InputBox{
 
  height: 30px;
  margin-left:5px ;
}

.InputDate{
 
  height: 32px;
  margin-left: 5px;
}

.AddButton{
  
  padding: 10px;
  margin-left: 5px;
}
.tasks{

 
  font-size: 25px;
  padding-right: 25px;
}


.check {
  height:35px;
  width: 35px;
}

.delbutton{
  background-color: red;

}

.delpng{
  width: 30px;
  height: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
